---

import { profileConfig } from '../config'
import { url } from '../utils/url-utils'
const currentYear = new Date().getFullYear()
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a><br>
        Powered by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a><br>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://beian.miit.gov.cn/">鄂ICP备2023011591号-1</a> /
        <a class="transition link text-[var(--primary)] font-medium inline-flex items-center" target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42050202000880">
            <img src="/images/logo01.6189a29f.png" alt="公安备案图标" width="13" height="13" class="mr-1 translate-y-[3px]" />
            <div class="translate-y-[2px]">鄂公网安备42050202000880号</div>
        </a><br>
        本网站由 
        <a class="transition link inline-flex items-center" target="_blank" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral">
            <img src="/images/又拍云_logo5.png" alt="又拍云" width="40" height="20" class="mx-1 translate-y-[2px]" />
        </a>
        提供云存储服务
    </div>
</div>